<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationFrameWork">
  <test name="AutomationTests">
  <classes>
  <class name="com.qa.application.test_scripts.MISLoginPageTest"/>
  </classes>
  </test> <!-- AutomationTests -->
</suite> <!-- AutomationFrameWork -->
